<h1>About GetGrub</h1>

<br>
<p>Fernando, John, and Erica were sitting around Washington DC hungry but on a budget. Georgetown Consultants are only giving them $55 per diem! They were forced to grill their own food at their Airbnb. That's when they had a brilliant idea. </p>
<br>
<p>GetGrub aims to help business travelers & consultants find the best, highest-rated food that fits their per diem budget. To see what we recommend for you, fill out our short questionnaire.</p>
<br>
<a data-flickr-embed="true" href="https://www.flickr.com/photos/192792125@N07/51172589890/in/dateposted-public/" title="download"><img src="https://live.staticflickr.com/65535/51172589890_c0d60747c9_b.jpg" width="768" height="1024" alt="download"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>