<h2>Food Results Page</h2>

<div>
    <!--<h3>Top 5 Recommended Restaurants:  <span id="restaurant-list">TODO</span>-->
    <h3>Top 5 Recommended Restaurants:</h3>

    <ul>
      <% businesses.forEach(function(business){ %>
          <li><%= business['name'] %></li>
      <% }) %>
    </ul>




  </div>