<h1><%= title %></h1>
<p>Welcome to Consultants Eat. If you have ever wondered how far your per diem will get you for lunch or dinner, look no further. Just input your per diem amount and your food preferences into our app, and we'll deliver you a list of the best rated restaurants the city you're in has to offer on your budget.</p>
<br>

<img src="https://live.staticflickr.com/65535/51176332381_6a3fdba373_b.jpg" alt="Office" class="center" width="512" height="341">


<form class="mx-auto" style="max-width: 350px; margin-top:2em;" action="/food">
   

    <button type="submit" class="btn btn-primary" id=home-button">Begin Food Search</button>
</form>


