<style>
    body {
        background-image:url('https://live.staticflickr.com/65535/51177586806_b05a83b713_z.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    img{
        opacity: 0.2;
    }
</style>


<h1><%= title %></h1>
<p>Welcome to GetGrub for business travel. If you have ever wondered how far your per diem will get you for lunch or dinner, look no further. Just input your per diem amount and your food preferences into our app, and we'll deliver you a list of the best rated restaurants the city you're in has to offer on your budget.</p>
<br>



<form class="mx-auto" style="max-width: 350px; margin-top:2em;" action="/food">
   

    <button type="submit" class="btn btn-primary" id="home-button" style="background: burlywood;">Begin Food Search</button>
</form>


